body{
	background-color:silver;
	padding:20px;
}

header{
	border:1px solid gray;
	width:100%;
	background-color:white;
	padding:20px;
}

nav{
	border:1px solid gray;
	width:50%;
	padding:20px;
	background-color:silver;
}

main{
	float:left;
	width:60%;
	margin-top:2%;
	background-color:white;
	margin-bottom:2%;
}

section{
	border:1px solid yellow;
	margin-bottom:2%;
	background-color:white;
}

article{
	border:1px solid blue;
}

aside{
	padding-left:2%;
	margin-top:2%;
	width:38%;
	float:right:
}

footer{
	border:1px solid green;
	width:100%;
	clear:both;
	padding:20px;
	background-color:white;
}

